@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-rose: #e11d48;
}

html {
  scroll-behavior: smooth;
}

a:focus, button:focus, input:focus {
  outline: 2px solid #000;
  outline-offset: 2px;
}
